@import './markdown.css';

html,
body,
#app {
  @apply h-100% of-x-hidden;
}

html * {
  scrollbar-color: #ddd #eee;
}

html.dark * {
  scrollbar-color: #444 #222;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: orange;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
